TikTok/GoogleService-Info.plist

# Environment variables
./functions/.env
./functions/.venv
./functions/.venv/*
.venv/*
.venv
./functions/.env.*
.env
.env.*
!.env.example
# Google Cloud credentials
*.json
venv/
thorgodoflightning/venv
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 


functions/service-account.json
service-account.json
old_functions/service-account.json

node_modules/
.env
*.log
